aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
asgiref==3.8.1
attrs==25.1.0
babel==2.17.0
backoff==2.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
Django==5.1.5
fpdf==1.7.2
frozenlist==1.5.0
idna==3.10
multidict==6.1.0
mysql-connector-python==9.2.0
opencage==3.0.4
packaging==24.2
pillow==11.1.0
propcache==0.2.1
requests==2.32.3
sqlparse==0.5.3
tkcalendar==1.6.1
tqdm==4.67.1
tzdata==2025.1
urllib3==2.3.0
yarl==1.18.3
